<hr />
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-3">Welcome to the File Storage!</h1>
      <p class="display-6">This is the test case for Flying Donkey.</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-3">
      <app-bs-card [cardTitle]="'Use here to upload file!'" class="text-center">
        <input type="file" class="form-control" (change)="onFileUpload($event)" multiple/>
      </app-bs-card>
    </div>
    <div class="col-9">
      <app-grouped-list [fileGroup]="groupedList"></app-grouped-list>
    </div>
  </div>
</div>