<table class="table">
    <thead>
        <tr>
        <!-- <th>#</th> -->
        <th>File Name</th>
        <th>File Type</th>
        <th>File Size</th>
        <th>Upload Date</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files">
            <!-- <td>{{file.id}}</td> -->
            <td>{{file.name}}</td>
            <td>{{file.type}}</td>
            <td>{{file.size}}</td>
            <td>{{file.createdAt}}</td>
            <td>
                <button class="btn btn-success">Download</button>
                <button *ngIf="file.isViewable" class="btn btn-primary">View</button>
            </td>
        </tr>
    </tbody>
</table>